# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
.env

# IDE
.vscode/
.idea/

# Контейнерные данные
postgres_data/
rabbitmq_data/

# Секреты и настройки
.env
app/.env
.env.*
!.env.example
*.log

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Системное
.DS_Store
